@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

.text-shadow {
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: #1e3a8a;
  -webkit-text-stroke-width: 1px;
  text-shadow: 2px 2px 10px #fbbf24;
  transition: all 0.5s ease-in-out;
  text-align: center;
  animation: flicker 0.5s ease-in-out infinite alternate;

  &:hover {
    color: #1e3a8a;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 2px 10px #fbbf24;
  }
  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #fbbf24;
  }
}
